body {
    width: 100%;
    height: 100vh; /* vh au lieu de % pour la hauteur */
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(maintenance.jpg);
    background-size: cover; /* pour couvrir tout l'écran */
    background-position: center; /* centrer l'image */
    background-repeat: no-repeat; /* éviter la répétition */
}

.message {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9); /* fond semi-transparent pour la lisibilité */
    padding: 2rem;
    border-radius: 8px;
}